@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.faceRecognitionLayout {
  background-image: url(images/background.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.face-id {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  position: relative;
  padding: 10px 20px;
  left: 10%;
}
canvas {
  left: 10.9%;
  position: absolute;
}
.attendanceIdentity {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 400px;
  height: 740px;
  padding: 30px;
  left: 73%;
}
.navButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 20px;
  position: absolute;
  width: 87%;
}
.navButton div {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navButton div a img {
  width: 60px;
  padding: 8px;
}
.navButton div:hover {
  background: rgba(255, 255, 255, 0.5);
  opacity: 90%;
}
.profileInfo {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  height: 580px;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.totalAttendance {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 60px;
  top: 5.5%;
  right: 10%;
  padding: 10px;
  border-radius: 50%;
}
.totalAttendance img {
  width: 100%;
  height: 100%;
}
.totalAttendance p {
  font-weight: 600;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 5px;
  background: lightcoral;
}
.profilePic img {
  margin-top: 100px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  padding: 2px;
  border: 5px solid rgba(255, 255, 255, 0.3);
}
.profileName {
  margin-top: 30px;
  padding: 10px;
}
.regNumber {
  padding: 10px;
  font-weight: 600;
}
.attendanceInfo {
  padding: 20px;
  margin-top: 45px;
  border-radius: 16px;
  /* background-color: lightcoral; */
  background: lightgreen;
  font-weight: 600;
}
